$crnaPozadina:#374249;
$crvenaPozadina:#f75311;
$nasloviBoja: #374249;
$fontBoja: white;
$sivaPozadina: rgb(216, 210, 210);
$okvirTabeleBoja: rgb(114, 111, 111);

$font:"Roboto";
$centerMargin: auto;
