@import "vars";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: $font;
    @include boxSizing;
    @include main;
}

main {

    width:90%;
    margin:$centerMargin;
}

nav {
    background:$crnaPozadina;
    width:80%;
    
    margin:$centerMargin;
    
    

    ul {
        width:100%;
        list-style:none;
        margin:0;
        padding:0;

        li:first-child {
            background-color: $crvenaPozadina;
            width:20%;
            height:2.7em;
            
            a{
                vertical-align: top;
            }
            
        }


        li {
            display :inline-block;
            height:auto;
            vertical-align: middle;
            padding:0 2%;
            
            a {
                text-decoration: none;
                color:$fontBoja;
               

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

section {
    margin:$centerMargin;
    width:88.9%;
}
.section1 {
    background-image: url("../slike/intro.jpg");
    height:40em;
    position:relative;
    margin-bottom:2em;

    .naslovniDeo {
        
        width:100%;
        text-align: center;
        padding-top:25%;
        

        h1 {
            background:rgba(0, 0, 0, 0.5);         
            text-align: center;
            color:$fontBoja;
            font-size:2em;
            margin-bottom: 0;
            
            
        }
        h4 {
            color:$fontBoja;           
            background:rgba(0, 0, 0, 0.5);
            margin-top: 0;
        }

    }
}
.section2 {
    background:$sivaPozadina;
    padding:30px;
    
    .slike {
        display:inline-block;

        .img_wrap {
            display:inline-block;
            
            position:relative; 
            
            img{
                display: inline-block;
                height:20em;
                

                
            }
            
            
            .img__description {
                left:0;
                right:0;
                top:-1em;
                bottom:0;
                height:5em;
                position: absolute;
                
                
                background: rgba(255, 255, 255, 0.5);
                color: black;
                visibility: hidden;
                opacity: 0;
                text-align: center;
            }
            &:hover .img__description {
                visibility: visible;
                opacity: 1;
            }    
        }
    }
}

  
.section3 {
    text-align: center;

    .naslov h2{
        font-weight: bold;
        
    }
    .table {
        text-align: center;
        margin:$centerMargin;
        width:60%;
        height:20%;

        .crvenaPozadina {
            background: $crvenaPozadina;
            color:white;
        }
        .crnaPozadina {
            background: $crnaPozadina;
            color:white;
        }

      
    }
}
table, tr, td {
    border:1px solid $okvirTabeleBoja;
    border-collapse: collapse;
}
.nevidljiva {
    visibility: hidden;
}
.section4 {
    
    background:$sivaPozadina;
    .naslov {
        text-align: center;
        font-weight: bold;
    }
    .mapa {
        display:inline-block;
        margin-left:10px;
        padding-right:20px;
    }
    .form {
        vertical-align: top;
        padding:20px;
        display: inline-block;
        
        background:$crvenaPozadina;
        width:36em;
        height:15em;
        margin-left: 5em; 

        #gender {
            width:32%;
            height:30%;
        }
        #name {
            width:67%;
            height:30%;
        }
        
        #email {
            display:block;
            margin-top:3em;
            width:100%;
            height:30%;
        }
        textarea {
            display:block;
            margin-top:3em;
            width:100%;
            height:30%;
        }
    }

}
.opcije {
        width:89%; 
        text-align: right;

        
    p {
        display:inline-block;
        border:1px solid rgb(31, 30, 30);
        border-radius:15px;
        
        
        background-color: $fontBoja;
        text-align: center;       
        padding:10px 25px;

        &:hover {
            background:gray;
            a{
                color:white;
            }
           
        }

        a {
            text-decoration: none;
            
        }
        
        
    }
}
footer {
    margin-top:20px;
    text-align: center;
    background-color: $crnaPozadina;
    color:$fontBoja;
}
