@import "vars";
@import "mixins";

* {
  @include reset;
}

body {
  font-family: $font;
  color: $font-color;
}

.clr {
  clear: both;
}

.navigation {
  float: left;
  width: 100%;
  height: 80px;
  overflow: auto;
  background: $dark-blue;
  color: white;

  .logo {
    float: left;
    padding-left: 0.5rem;
    padding-right: 6rem;
    background: #f75311;
    img {
      width: 80px;
      height: 80px;
      float: left;
    }

    span {
      float: left;
      line-height: 80px;
    }
  }

  ul {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    li {
      list-style: none;
      float: left;
      margin-left: 4rem;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.intro {
  float: left;
  width: 100%;
  height: 650px;
  background: url("../slike/intro.jpg") no-repeat center center/cover;

  .intro-heading {
    text-align: center;
    color: white;
    background: rgb(55, 66, 73, 0.5);
    width: 700px;
    padding: 1rem 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;

    h1 {
      font-size: 3rem;
    }
  }
}

/* Section buttons */

.buttons {
  padding: 2rem;
  float: right;
  margin-right: 7rem;
  a {
    text-decoration: none;
    color: $font-color;
    border: 1px solid $font-color;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    border-radius: 25px;
  }
}

/* Section images */

.images {
  width: 100%;
  float: left;

  .row {
    width: 60%;
    margin: auto;
    justify-content: center;
    padding: 0.5rem;
    height: auto;

    .image {
      width: 21%;
      height: 250px;
      @include brd;
      float: left;
      margin: 2%;
    }

    .image1 {
      background: url("../slike/1.jpg") no-repeat center center/cover;
    }
    .image2 {
      background: url("../slike/2.jpg") no-repeat center center/cover;
    }
    .image3 {
      background: url("../slike/3.jpg") no-repeat center center/cover;
    }
    .image4 {
      background: url("../slike/4.jpg") no-repeat center center/cover;
    }
    .image5 {
      background: url("../slike/5.jpg") no-repeat center center/cover;
    }
    .image6 {
      background: url("../slike/6.jpg") no-repeat center center/cover;
    }
  }
}
